.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;

  mat-card {
    width: 100%;
    max-width: 480px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
  }
}
